@page
@model ProtoWeb.Pages.Holes.CreateHoleModel
@{
    ViewData["Title"] = "CreateHole";
}
<h1>CreateHole</h1>

<form method="post">

    <div class="form-group">
        <label asp-for="@Model.CurrentHole.HoleNo" class="control-label"> HoleNo </label>
        <input asp-for="@Model.CurrentHole.HoleNo" class="form-control" />
        <span asp-validation-for="@Model.CurrentHole.HoleNo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.CurrentHole.Par" class="control-label">Par </label>
        <input asp-for="@Model.CurrentHole.Par" class="form-control" />
        <span asp-validation-for="@Model.CurrentHole.Par" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.CurrentHole.Length" class="control-label">Length</label>
        <input asp-for="@Model.CurrentHole.Length" class="form-control" />
        <span asp-validation-for="@Model.CurrentHole.Length" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.CurrentHole.Handicap" class="control-label">Handicap</label>
        <input asp-for="@Model.CurrentHole.Handicap" class="form-control" />
        <span asp-validation-for="@Model.CurrentHole.Handicap" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
