@page "{holeNo}/{id}"
@model ProtoWeb.Pages.Courses.CoursesHoles.DeleteHoleModel
@{
    ViewData["Title"] = "Delete";
}

<div class="row justify-content-center p-4">
    <div class="col-auto">
        <h1>Delete Confirmation</h1>
        <div class="img-fluid text-center">
            <img src="../../../../img/hole_icon.png" height="120" />
        </div>
        <div class="my-auto container frame">
            <h5 class="text-danger">Are you sure you want to delete Hole @Model.Hole.HoleNo?</h5>
            <form method="post">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Hole.HoleNo)
                    </dt>
                    <dd class="col-sm-2">
                        @Html.DisplayFor(model => model.Hole.HoleNo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Hole.Par)
                    </dt>
                    <dd class="col-sm-2">
                        @Html.DisplayFor(model => model.Hole.Par)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Hole.Length)
                    </dt>
                    <dd class="col-sm-2">
                        @Html.DisplayFor(model => model.Hole.Length)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Hole.Handicap)
                    </dt>
                    <dd class="col-sm-2">
                        @Html.DisplayFor(model => model.Hole.Handicap)
                    </dd>
                </dl>
                <button type="submit" class="btn btn-danger">Yes</button>
                <a class="btn btn-primary" asp-page="GetAllHoles" asp-route-id="@Model.CurrentCourseId">No</a>
            </form>
        </div>
    </div>
</div>