@page
@model ProtoWeb.Pages.ProStats.ProStatisticsModel
@{
    ViewData["Title"] = "ProStatistics";
}

<h1>List of ProStats</h1>
<table class="table">
    <thead>
    <tr>
        <th>
            Scoring Average
        </th>
        <th>
            DrivingDistance
        </th>
        <th>
            Fairway Average
        </th>
        <th>
            Green In Reg Average
        </th>
        <th>
            Scrambling Average
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.PSAverages)
    {
        <tr>
            <td>
                @item.ScoringAverage
            </td>
            <td>
                @item.DrivingDistance
            </td>
            <td>
                @item.FairwayAverage
            </td>
            <td>
                @item.GreenInRegAverage
            </td>
            <td>
                @item.ScramblingAverage
            </td>
        </tr>
    }
    </tbody>
</table>


