@page
@model ProtoWeb.Pages.ShowResultsModel
@{
    ViewData["Title"] = "ShowResults";
}
<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="row justify-content-center p-4">
            <div class="col-auto">
                <div class="container-fluid">
                    <h1>Here are your results</h1>
                    <p>You can use this to improve your golf game, compare to your friends, or just check out how it went!</p>
                </div>

                <table class="table table-striped table-responsive shadow-lg p-3">
                    <thead>
                        <tr>
                            <th>
                                HoleNo
                            </th>
                            <th>
                                Par
                            </th>
                            <th>
                                Length
                            </th>
                            <th>
                                Handicap
                            </th>
                            <th>
                                Fairway Hit
                            </th>
                            <th>
                                Fairway Miss Left/Right
                            </th>
                            <th>
                                Green Hit
                            </th>
                            <th>
                                Green Miss Left/Right
                            </th>
                            <th>
                                Scramble In/Out
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var hole in Model.Holes.Values)
                        {
                        <tr>
                            <td>
                                @hole.HoleNo
                            </td>
                            <td>
                                @hole.Par
                            </td>
                            <td>
                                @hole.Length
                            </td>
                            <td>
                                @hole.Handicap
                            </td>
                            <td>
                                @Math.Round(Model.MockSheet.PercentageCalculator(Model.MockSheet.FairWayHit, Model.MockSheet.TotalFairwayStrokes) * 100)%
                            </td>
                            <td>
                                @* THIS MATH IS WRONG - DIVIDING MISSES LEFT WITH TOTAL FAIRWAY STROKES.
                                    WE SHOULD BE DIVIDING WITH TOTAL FAIRWAY MISSES*@
                                @Math.Round(Model.MockSheet.PercentageCalculator(Model.MockSheet.FairWayMissLeft, Model.MockSheet.TotalFairwayStrokes) * 100)%/@Math.Round(Model.MockSheet.PercentageCalculator(Model.MockSheet.FairWayMissRight, Model.MockSheet.TotalFairwayStrokes) * 100)%
                            </td>
                            <td>
                                @Math.Round(Model.MockSheet.PercentageCalculator(Model.MockSheet.GreenHit, Model.MockSheet.TotalGreenStrokes) * 100)%
                            </td>
                            <td>
                                @* THIS MATH IS WRONG - DIVIDING MISSES LEFT WITH TOTAL GREEN STROKES.
                                    WE SHOULD BE DIVIDING WITH TOTAL GREEN MISSES*@
                                @Math.Round(Model.MockSheet.PercentageCalculator(Model.MockSheet.GreenMissLeft, Model.MockSheet.TotalGreenStrokes) * 100)%/@Math.Round(Model.MockSheet.PercentageCalculator(Model.MockSheet.GreenMissRight, Model.MockSheet.TotalGreenStrokes) * 100)%
                            </td>
                            <td>
                                @Math.Round(Model.MockSheet.PercentageCalculator(Model.MockSheet.ScrambleHit, Model.MockSheet.TotalScrambleStrokes) * 100)%/@Math.Round(Model.MockSheet.PercentageCalculator(Model.MockSheet.GreenMissRight, Model.MockSheet.TotalScrambleStrokes) * 100)%
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>