@page
@model ProtoWeb.Pages.ShowResultsModel
@{
    ViewData["Title"] = "ShowResults";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
            window.onload = function ()
            {
                var chart = new CanvasJS.Chart("fwChart", {
                    animationEnabled: true,
                    backgroundColor: "#FFF4EC",
                    title: {
                        text: "Fairway Hit and Miss Percentage"
                    },
                    data: [{
                        type: "pie",
                        startAngle: 240,
                        yValueFormatString: "##0.00\"%\"",
                        indexLabel: "{label} {y}",
                        dataPoints: [
                            { y: @Model.FairwayHit(), label: "Hit" },
                            { y: @Model.FairwayMiss(true), label: "Miss Left" },
                            { y: @Model.FairwayMiss(false), label: "Miss Right" },
                        ]
                    }]
                });
                chart.render();
                var chart = new CanvasJS.Chart("grChart", {
                    animationEnabled: true,
                    backgroundColor: "#FFF4EC",
                    title: {
                        text: "Green Hit and Miss Percentage"
                    },
                    data: [{
                        type: "pie",
                        startAngle: 240,
                        yValueFormatString: "##0.00\"%\"",
                        indexLabel: "{label} {y}",
                        dataPoints: [
                            { y: @Model.GreenHit(), label: "Hit" },
                            { y: @Model.GreenMiss(true), label: "Miss Left" },
                            { y: @Model.GreenMiss(false), label: "Miss Right" },
                        ]
                    }]
                });
                chart.render();
                var chart = new CanvasJS.Chart("scChart", {
                    animationEnabled: true,
                    backgroundColor: "#FFF4EC",
                    title:
                    {
                        text: "Scramble In and Out Percentage"
                    },
                    data:
                    [
                        {
                            type: "pie",
                            startAngle: 240,
                            yValueFormatString: "##0.00\"%\"",
                            indexLabel: "{label} {y}",
                            dataPoints:
                            [
                                { y: @Model.Scramble(true), label: "In" },
                                { y: @Model.Scramble(false), label: "Out" }
                            ]
                        }
                    ]
                });
                chart.render();
            }
    </script>
</head>
    <body>
        <div class="row justify-content-center p-4">
            <div class="col-auto">
                <div class="container-fluid">
                    <h1>Here are your results</h1>
                    <p>You can use this to improve your golf game, compare to your friends, or just check out how it went!</p>
                </div>

                <table class="table table-striped table-responsive shadow-lg p-3">
                    <thead>
                        <tr>
                            <th>
                                @*@Model.CurrentUser.Name*@
                                User Name
                            </th>
                            <th>
                                @*@Model.CurrentCourse.Name*@
                                Course Name
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>
                                Handicap
                            </th>
                            <th>
                                Fairway Hit
                            </th>
                            <th>
                                Fairway Miss Left/Right
                            </th>
                            <th>
                                Green Hit
                            </th>
                            <th>
                                Green Miss Left/Right
                            </th>
                            <th>
                                Scramble In/Out
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @*@Model.CurrentUser.Handicap*@
                                User HCP
                            </td>
                            <td>
                                @Model.FairwayHit()%
                            </td>
                            <td>
                                @Model.FairwayMiss(true)%/@Model.FairwayMiss(false)%
                            </td>
                            <td>
                                @Model.GreenHit()%
                            </td>
                            <td>
                                @Model.GreenMiss(true)%/@Model.GreenMiss(false)%
                            </td>
                            <td>
                                @Model.Scramble(true)%/@Model.Scramble(false)%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                
                            </td>
                            <td>
                                <div id="fwChart" style="height: 300px; width: 150px;"></div>
                                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                <div id="grChart" style="height: 300px; width: 150px;"></div>
                                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                <div id="scChart" style="height: 300px; width: 150px;"></div>
                                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>