@page
@model ProtoWeb.Pages.ShowResultsModel
@{
    ViewData["Title"] = "ShowResults";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
            window.onload = function ()
            {
                var chart1 = new CanvasJS.Chart("fwChart", {
                    animationEnabled: true,
                    backgroundColor: "#FFF4EC",
                    title: {
                        text: "Fairway Hit and Miss Percentage"
                    },
                    data: [{
                        type: "pie",
                        showInLegend: true,
                        legendText: "{indexLabel}",
                        startAngle: 240,
                        yValueFormatString: "##0.00\"%\"",
                        indexLabel: "{label} {y}",
                        dataPoints: [
                            { y: @Model.FairwayHit(), color: "#09BC8A", label: "Hit", indexLabel: "Hit" },
                            { y: @Model.FairwayMiss(true), color: "#592941", label: "Miss Left", indexLabel: "Miss Left" },
                            { y: @Model.FairwayMiss(false), color: "#440F2A", label: "Miss Right", indexLabel: "Miss Right" },
                        ]
                    }]
                });
                chart1.render();
                var chart2 = new CanvasJS.Chart("grChart", {
                    animationEnabled: true,
                    backgroundColor: "#FFF4EC",
                    title: {
                        text: "Green Hit and Miss Percentage"
                    },
                    data: [{
                        type: "pie",
                        showInLegend: true,
                        legendText: "{indexLabel}",
                        startAngle: 240,
                        yValueFormatString: "##0.00\"%\"",
                        indexLabel: "{label} {y}",
                        dataPoints: [
                            { y: @Model.GreenHit(), color: "#09BC8A", label: "Hit", indexLabel: "Hit" },
                            { y: @Model.GreenMiss(true), color: "#592941", label: "Miss Left", indexLabel: "Miss Left" },
                            { y: @Model.GreenMiss(false), color: "#440F2A", label: "Miss Right", indexLabel: "Miss Right" },
                        ]
                    }]
                });
                chart2.render();
                var chart3 = new CanvasJS.Chart("scChart", {
                    animationEnabled: true,
                    backgroundColor: "#FFF4EC",
                    title: {
                        text: "Scramble In and Out Percentage"
                    },
                    data:
                    [
                        {
                            type: "pie",
                            showInLegend: true,
                            legendText: "{indexLabel}",
                            startAngle: 240,
                            yValueFormatString: "##0.00\"%\"",
                            indexLabel: "{label} {y}",
                            dataPoints: [
                                { y: @Model.Scramble(true), color: "#09BC8A", label: "In", indexLabel: "In" },
                                { y: @Model.Scramble(false), color: "#592941", label: "Out", indexLabel: "Out" }
                            ]
                        }
                    ]
                });
                chart3.render();
            }
    </script>
</head>
    <body>
        <div class="row justify-content-center p-4">
            <div class="col-auto">
                <div class="container-fluid">
                    <h1>Here are your results</h1>
                    <p>You can use this to improve your golf game, compare to your friends, or just check out how it went!</p>
                </div>

                <table class="table table-striped table-responsive shadow-lg p-3">
                    <thead>
                        <tr>
                            <th>
                                @Model.CurrentUser.Name
                            </th>
                            <th>
                                @Model.CurrentCourse.Name
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                Handicap
                            </th>
                            <th>
                                Total Score
                            </th>
                            <th>
                                Fairway Average
                            </th>
                            <th>
                                Fairway Miss Left/Right Average
                            </th>
                            <th>
                                Green In Reg. Average
                            </th>
                            <th>
                                Green Miss Left/Right Average
                            </th>
                            <th>
                                Scramble In/Out Average
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Your Stats
                            </td>
                            <td>
                                @Model.CurrentUser.Handicap
                            </td>
                            <td>
                                @Model.MyStatSheet.TotalScore
                            </td>
                            <td>
                                @Model.FairwayHit()%
                            </td>
                            <td>
                                @Model.FairwayMiss(true)%/@Model.FairwayMiss(false)%
                            </td>
                            <td>
                                @Model.GreenHit()%
                            </td>
                            <td>
                                @Model.GreenMiss(true)%/@Model.GreenMiss(false)%
                            </td>
                            <td>
                                @Model.Scramble(true)%/@Model.Scramble(false)%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Pro Stats
                            </td>
                            <td>
                            </td>
                            <td>
                                @Model.CurrentProStatsShown.ScoringAverage
                            </td>
                            <td>
                                @Model.CurrentProStatsShown.FairwayAverage%
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                @Model.CurrentProStatsShown.GreenInRegAverage%
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                @Model.CurrentProStatsShown.ScramblingAverage%
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div id="fwChart" style="height: 350px; width: 150px;"></div>
                                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div id="grChart" style="height: 350px; width: 150px;"></div>
                                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div id="scChart" style="height: 350px; width: 150px;"></div>
                                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div class="my-auto container frame">
                    <p class="text-dark">
                        Your Statistics:
                    </p>
                    <p class="text-dark">
                        Fairway misses left: @Model.MyStatSheet.FairWayMissLeft
                    </p>
                    <p class="text-dark">
                        Fairway hits: @Model.MyStatSheet.FairWayHit
                    </p>
                    <p class="text-dark">
                        Fairway misses right: @Model.MyStatSheet.FairWayMissRight
                    </p>
                    <br />
                    <p class="text-dark">
                        Green misses left: @Model.MyStatSheet.GreenMissLeft
                    </p>
                    <p class="text-dark">
                        Green hits: @Model.MyStatSheet.GreenHit
                    </p>
                    <p class="text-dark">
                        Green misses right: @Model.MyStatSheet.GreenMissRight
                    </p>
                    <br />
                    <p class="text-dark">
                        Scramble in: @Model.MyStatSheet.ScrambleHit
                    </p>
                    <p class="text-dark">
                        Scramble out: @Model.MyStatSheet.ScrambleMiss
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>