@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model ProtoWeb.Users.UserModel
@{
    ViewData["Title"] = "User";
}

<div class="row justify-content-center p-4">
    <div class="col-auto">
        <h1 class="text-light">Create a User</h1>
        <div class="my-auto container frame pl-lg-5 pr-lg-5">
            <form method="post" asp-page="../Courses/CreateCourse">
                <p colspan="3">User Info:</p>

                <div class="form-group input-group mb-3">
                    <input asp-for="@Model.CurrentUser.Status" type="radio" name="statusAnswer" class="form-control" value="Amateur" />
                    <label asp-for="@Model.CurrentUser.Status" class="form-check-label">Amateur</label>
                    <span asp-validation-for="@Model.CurrentUser.Status" class="text-danger"></span>
                </div>
                <div class="form-group input-group mb-3">
                    <input asp-for="@Model.CurrentUser.Status" type="radio" name="statusAnswer" class="form-control" value="Intermediate" />
                    <label asp-for="@Model.CurrentUser.Status" class="form-check-label">Intermediate</label>
                    <span asp-validation-for="@Model.CurrentUser.Status" class="text-danger"></span>
                </div>
                <div class="fform-group input-group mb-3">
                    <input asp-for="@Model.CurrentUser.Status" type="radio" name="statusAnswer" class="form-control" value="Pro" />
                    <label asp-for="@Model.CurrentUser.Status" class="form-check-label">Pro</label>
                    <span asp-validation-for="@Model.CurrentUser.Status" class="text-danger"></span>
                </div>
                <div class="form-group input-group mb-3">
                    <input asp-for="@Model.CurrentUser.Name" type="text" name="nameAnswer" class="form-control" placeholder="Username" />
                    <span asp-validation-for="@Model.CurrentUser.Name" class="text-danger"></span>
                </div>
                <div class="form-group input-group mb-3">
                    <input asp-for="@Model.CurrentUser.HomeClub" type="text" name="clubAnswer" class="form-control" placeholder="Your Club" />
                    <span asp-validation-for="@Model.CurrentUser.HomeClub" class="text-danger"></span>
                </div>
                <div class="form-group input-group mb-3">
                    <input asp-for="@Model.CurrentUser.MemberId" type="number" name="idAnswer" class="form-control" placeholder="Member ID" />
                    <span asp-validation-for="@Model.CurrentUser.MemberId" class="text-danger"></span>
                </div>
                <div class="form-group input-group mb-3">
                    <input asp-for="@Model.CurrentUser.Handicap" type="number" name="hcpAnswer" class="form-control" placeholder="Handicap" />
                    <span asp-validation-for="@Model.CurrentUser.Handicap" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit"
                           asp-route-status="@Model.CurrentUser.Status"
                           asp-route-name="@Model.CurrentUser.Name"
                           asp-route-club="@Model.CurrentUser.HomeClub"
                           asp-route-memberId="@Model.CurrentUser.MemberId"
                           asp-route-hcp="@Model.CurrentUser.Handicap"
                           value="Create" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>
