@page
@model ProtoWeb.Pages.Courses.GetAllCoursesModel
@{
    ViewData["Title"] = "GetAllCourses";
}
<h1>All Courses</h1>

<p>
    <a asp-page="CreateCourse">Create New Course</a>

</p>
<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    <a asp-page="CoursesHoles/GetAllHoles" asp-route-id="@item.Key">Id:@item.Value.Id @item.Value.Name</a> <!--"..@item.Value.Id"-->
                </td>
                <td>
                    <p>
                        <a asp-page="EditCourse" asp-route-id="@item.Key">Edit</a> |
                        <a asp-page="DeleteCourse" asp-route-id="@item.Key">Delete</a>
                        <a asp-page="CoursesHoles/GetAllHoles" asp-route-id="@item.Key"></a>
                    </p>
                    <p>
                        <a asp-page="CoursesHoles/CreateHoles" asp-route-id="@item.Key">CreateCourse</a>
                    </p>
                   
                </td>
            </tr>
        }
    </tbody>
</table>

