@page "{btnId}"
@model ProtoWeb.Pages.Statistics.InputStats3Model
@{
    ViewData["Title"] = "InputStats3";
}

<div class="row justify-content-center p-4">
    <div class="col-auto">
        <h1> Hole 1</h1>
        <div class="my-auto container frame">
            <form method="post">
                <table class="text-center">
                    <tr>
                        <td colspan="3">Scramble</td>
                    </tr>
                    <tr>
                        <td>Out</td>
                        <td>In</td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-page="../ShowResults" asp-route-btnId="0" type="submit" class="btn btn-danger btn-miss" value="Out" />
                        </td>
                        <td>
                            <input asp-page="../ShowResults" asp-route-btnId="1" type="submit" class="btn btn-success btn-hit" value="In" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <br />
        <div class="my-auto container frame">
            <p class="text-dark">
                Debug:
            </p>
            <p class="text-dark">
                Fairway misses left: @Model.MyStatSheet.FairWayMissLeft
            </p>
            <p class="text-dark">
                Fairway hits: @Model.MyStatSheet.FairWayHit
            </p>
            <p class="text-dark">
                Fairway misses right: @Model.MyStatSheet.FairWayMissRight
            </p>
            <br />
            <p class="text-dark">
                Green misses left: @Model.MyStatSheet.GreenMissLeft
            </p>
            <p class="text-dark">
                Green hits: @Model.MyStatSheet.GreenHit
            </p>
            <p class="text-dark">
                Green misses right: @Model.MyStatSheet.GreenMissRight
            </p>
        </div>
    </div>
</div>