@page
@model ProtoWeb.Pages.Statistics.InputStats2Model
@{
    ViewData["Title"] = "InputStats2";
}

<div class="row justify-content-center p-4">
    <div class="col-auto">
        <h1> Hole @Model.CurrentHoleId</h1>
        <div class="my-auto container frame">
            <form method="post">
                <table class="text-center">
                    <tr>
                        <td colspan="3">Green</td>
                    </tr>
                    <tr>
                        <td>Left</td>
                        <td></td>
                        <td>Right</td>
                    </tr>
                    <tr>
                        <td class="p-2">
                            <input asp-for="@Model.MyStatSheet" asp-page-handler="MissGreenLeft" type="submit" class="btn-danger btn-miss" value="Miss" />
                        </td>
                        <td class="p-2">
                            <input asp-for="@Model.MyStatSheet" asp-page-handler="HitGreen" type="submit" class="btn-primary btn-hit" value="Hit" />
                        </td>
                        <td class="p-2">
                            <input asp-for="@Model.MyStatSheet" asp-page-handler="MissGreenRight" type="submit" class="btn-danger btn-miss" value="Miss" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <br />
        <div class="my-auto container frame">
            <p class="text-dark">
                Your Statistics:
            </p>
            <p class="text-dark">
                Fairway misses left: @Model.MyStatSheet.FairWayMissLeft
            </p>
            <p class="text-dark">
                Fairway hits: @Model.MyStatSheet.FairWayHit
            </p>
            <p class="text-dark">
                Fairway misses right: @Model.MyStatSheet.FairWayMissRight
            </p>
            <br />
            <p class="text-dark">
                Green misses left: @Model.MyStatSheet.GreenMissLeft
            </p>
            <p class="text-dark">
                Green hits: @Model.MyStatSheet.GreenHit
            </p>
            <p class="text-dark">
                Green misses right: @Model.MyStatSheet.GreenMissRight
            </p>
            <br />
            <p class="text-dark">
                Scramble outs: @Model.MyStatSheet.ScrambleMiss
            </p>
            <p class="text-dark">
                Scramble ins: @Model.MyStatSheet.ScrambleHit
            </p>
        </div>
    </div>
</div>