@page "{btnId}"
@model ProtoWeb.Pages.Statistics.InputStats2Model
@{
    ViewData["Title"] = "InputStats2";
}

<div class="row justify-content-center p-4">
    <div class="col-auto">
        <h1> Hole 1</h1>
        <div class="my-auto container frame">
            <form method="post">
                <table class="text-center">
                    <tr>
                        <td colspan="3">Fairway</td>
                    </tr>
                    <tr>
                        <td>Left</td>
                        <td></td>
                        <td>Right</td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="@Model.MockSheet" asp-page="InputStats3" asp-route-btnId="0" type="submit" class="btn-miss" value="Miss" />
                        </td>
                        <td>
                            <input asp-for="@Model.MockSheet" asp-page="InputStats3" asp-route-btnId="1" type="submit" class="btn-hit" value="Hit" />
                        </td>
                        <td>
                            <input asp-for="@Model.MockSheet" asp-page="InputStats3" asp-route-btnId="2" type="submit" class="btn-miss" value="Miss" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <br />
        <div class="my-auto container frame">
            <div>
                <br />
                <p class="text-dark">
                    Debug:
                </p>
                <p class="text-dark">
                    Fairway misses left: @Model.MockSheet.FairWayMissLeft
                </p>
                <p class="text-dark">
                    Fairway hits: @Model.MockSheet.FairWayHit
                </p>
                <p class="text-dark">
                    Fairway misses right: @Model.MockSheet.FairWayMissRight
                </p>
            </div>
        </div>
    </div>
</div>